


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

        <li *ngFor="let cartItem of cartItems" >
            <a class="dropdown-item">{{cartItem.product.productName}}</a>
        </li>


        <li> <hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sepete Git</a></li>
    </ul>
</li>