



<div *ngIf="load == false" class="d-flex align-items-center">
  <div class="spinner-border mx-auto" style="margin-top: 250px;"  role="status" aria-hidden="true"></div>
</div>


<div class="mt-1">
  <input type="email" [(ngModel)] = "filterText" 
   class="form-control w-50 mx-auto" id="filterText" placeholder="Aranacak ifade giriniz">
</div>

<table *ngIf="load == true" class="table table-striped table-bordered w-100 mx-auto mt-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category ID</th>
      <th scope="col">Stok</th>
      <th scope="col">Price</th>
      <th scope="col">Price + %18 KDV</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filter : filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitsInStock }}</td>
      <td>{{ product.unitPrice |currency }}</td>
      <td>{{ product.unitPrice |vatAdded:18 |currency }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td style="text-align: left;" colspan="6">{{products.length}} adet ürün getirildi.</td>
    </tr>
  </tfoot>
</table>

